<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <orderexport>
            <automatic>
                <active>0</active>
                <change_status_after_export>0</change_status_after_export>
                <new_status>processing</new_status>
                <export_strategy>separated</export_strategy>
                <is_ftp_upload_enabled>0</is_ftp_upload_enabled>
                <ftp_passive>0</ftp_passive>
                <ftp_ssl>1</ftp_ssl>
                <cron_schedule>0 18 * * *</cron_schedule>
                <export_strategy>grouped</export_strategy>
                <export_orders_daily>0</export_orders_daily>
                <export_filename>order_%increment_id%_%export_date%</export_filename>
                <export_file_type>csv</export_file_type>
                <export_date_format>Y-m-d</export_date_format>
                <upload_path>orderexport</upload_path>
            </automatic>
        </orderexport>
    </default>
</config>
