<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="orderexport_export_after">
        <observer name="changeStatusAfterExport" instance="MageSuite\OrderExport\Observer\ChangeStatusAfterExport" />
        <observer name="uploadOrderExport" instance="MageSuite\OrderExport\Observer\UploadOrderExport" />
    </event>
    <event name="orderexport_export_validate">
        <observer name="validateOrderExport" instance="MageSuite\OrderExport\Observer\ValidateOrderExport" />
    </event>
</config>
