<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magesuite" translate="label" sortOrder="300">
            <label>MageSuite</label>
        </tab>
        <section id="orderexport" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>OrderExport</label>
            <tab>magesuite</tab>
            <resource>MageSuite_OrderExport::config_orderexport</resource>
            <group id="periodical" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Periodical export</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable export by cron</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron Schedule</label>
                    <comment>Please type full cron schedule expression, eg. '59 23 * * *'</comment>
                </field>
                <field id="log_all_exports" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log all exports</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If it is set to 'Yes', or exports will be logged, including those that do not export any order</comment>
                </field>
                <field id="change_status_after_export" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Change status after export</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="status_after_export" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>New status</label>
                    <source_model>MageSuite\OrderExport\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="export_strategy" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Export strategy</label>
                    <source_model>MageSuite\OrderExport\Model\Config\Source\Export\Strategy</source_model>
                </field>
                <field id="export_file_type" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Export File Type</label>
                    <comment>Choose between .csv and .xml type (default is .csv)</comment>
                    <source_model>MageSuite\OrderExport\Model\Config\Source\Export\Type</source_model>
                </field>
                <field id="export_filename" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Export Filename</label>
                    <comment>Please type export filename, you can use %increment_id%, %entity_id% (only if orders are exported in separated files) or %export_date%. Example 'order_%increment_id%_%export_date%'</comment>
                </field>
                <field id="export_date_format" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Export Date Format</label>
                    <comment>Please type format of the date which you want to be put into the export filename. Example 'Y-m-d'</comment>
                </field>
                <field id="upload_path" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Upload Path</label>
                    <comment>Please provide path where order export files should be stored. Example 'orderexport/'</comment>
                </field>
                <field id="is_ftp_upload_enabled" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Upload to FTP</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="ftp_host" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Host</label>
                    <depends><field id='is_ftp_upload_enabled'>1</field></depends>
                </field>
                <field id="ftp_ssl" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use SSL</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id='is_ftp_upload_enabled'>1</field></depends>
                </field>
                <field id="ftp_passive" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Passive</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends><field id='is_ftp_upload_enabled'>1</field></depends>
                </field>
                <field id="ftp_login" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Login</label>
                    <depends><field id='is_ftp_upload_enabled'>1</field></depends>
                </field>
                <field id='ftp_password' translate='label' type='password' sortOrder="160" showInDefault='1'>
                    <label>Password</label>
                    <depends><field id='is_ftp_upload_enabled'>1</field></depends>
                </field>
                <field id="ftp_path" translate="label" type="text" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Remote path</label>
                    <comment>Path where file will be save. Slash must be on the end (example /order-export/)</comment>
                    <depends><field id='is_ftp_upload_enabled'>1</field></depends>
                </field>
            </group>
            <group id="order_grid" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Order Grid</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable export from Order Grid</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="allowed_order_statuses" translate="label" sortOrder="20" type="multiselect" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Order Statuses allowed to export</label>
                    <source_model>MageSuite\OrderExport\Model\Config\Source\Order\Status</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>